{% extends "blog/base.html" %}
{% block content %}
	<h1>About Us</h1>
		<p> 

			Our mission is to help kids get a better education in the STEM field.
			As a middle-schooler and highschooler, I was lucky enough to travel to Russia
			and learn about my own heritage, language, and culture. One thing that I noticed
			was how smart and hardworking the kids were. They had all the brains, but unfortunately,
			not the equipment. Having seen what STEM did for my family, I want to provide the same 
			opportunity to others.
		</p>

		<p>
			We will be traveling to Russia and
			donating RaspberryPi 4s as well as other peripherals. We will be giving them to 
			intelligent, hardworking students. We will teach how to build them, and then they 
			will learn some basic coding practices. By doing this, we hope to develop a future
			for them in the sciences and engineering. We hope to give them the tools that will 
			start their life long journey for the pursuit of innovation. We hope to help better
			their lives and provide a path to professional and personal success.
		</p>


		<p>
			-Gregory
		</p>

		<img class="img" src="/media/cc.jpg" width="55%" height="auto">
    <br>
    <small><a href="http://logodesign.net/">Logo source</a></small>
{% endblock content %}