{% extends "blog/base.html" %}
{% block content %}
	<h1>COVID-19 Update</h1>
		<p>

			COVID-19 has impacted our ability to complete our mission. We had some amount of money collected
            and were planning to utilize it this summer on our first official project.

		</p>

		<p>
			We had been in contact with a school for kids with physical disabilities in Russia and were planning
            to go there and donate equipment that would help them get more involved in science and technology.
            We were also planning to teach them about the gadgets they were receiving, and how to use them.
            The goal was to expose them to something they may not have known about in the hopes that it could
            positively impact their future. If not for COVID-19, we would have currently been in the process of
            completing this endeavor. The plan is still to complete this project sometime in the future, but as
            of now, it is unclear when that will be possible.


		</p>

        <p>
            Like many people, businesses, and schools have done during this unprecedented time, we too must manage
            our expectations on what we can achieve. The previous plan, for the foreseeable future, is unattainable,
            but an impact can still be made. To that end, 𝐰𝐞 𝐰𝐢𝐥𝐥 𝐛𝐞 𝐬𝐡𝐚𝐫𝐢𝐧𝐠 𝐢𝐧𝐟𝐨𝐫𝐦𝐚𝐭𝐢𝐨𝐧, 𝐫𝐞𝐬𝐨𝐮𝐫𝐜𝐞𝐬, 𝐚𝐧𝐝 𝐨𝐩𝐩𝐨𝐫𝐭𝐮𝐧𝐢𝐭𝐢𝐞𝐬 𝐭𝐡𝐚𝐭
            𝐩𝐞𝐨𝐩𝐥𝐞 𝐚𝐫𝐨𝐮𝐧𝐝 𝐭𝐡𝐞 𝐰𝐨𝐫𝐥𝐝 𝐜𝐚𝐧 𝐭𝐚𝐤𝐞 𝐚𝐝𝐯𝐚𝐧𝐭𝐚𝐠𝐞 𝐨𝐟. This will be through blog posts about various topics.

        </p>

        <p>
            The whole purpose of this "project" was to provide people with opportunities and knowledge to help them
            grow as people and to positively change the trajectory of their life. I, personally, had wanted to
            establish this organization for many years. We can't do this the way we wanted to, but we can still
            make a difference.
        </p>

        <p>
            I am excited to see where this can and will go.
        </p>

		<p>
			-Gregory
		</p>
    <br>
    <br>
{% endblock content %}