{% extends "blog/base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{%  csrf_token %}
			<fieldset class="form-group">
                <h1>Donate</h1>
                    <p>
                        Why donate?
                    </p>
                <p>
                    Donations help us fund our projects. We want to reach more students, and we can't do that without
                    some financial backing. If you cannot donate money, but would like to help in other ways, please
                    contact us by email.
                </p>
                <p>If you would like to help, please donate here:
                    <br>
                    <br>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url">
                <form action="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url" method="post" target="_top" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url">
                <input type="hidden" name="cmd" value="_donations" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url"/>
                <input type="hidden" name="business" value="YXBEAEJW38UUY" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url"/>
                <input type="hidden" name="currency_code" value="USD" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url"/>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YXBEAEJW38UUY&currency_code=USD&source=url"/>
                </form>
                </a>
                <br>
                <br>
                <p>(If the link does not work, right click the image and open it in a new tab).</p>
            </fieldset>
		</form>
	</div>
{% endblock content %}

