{% extends "blog/base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{%  csrf_token %}
			<fieldset class="form-group">
                <h1>Donate</h1>
                <p>If you would like to help, please donate here:</p>
                {{ donation.render }}
            </fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Post</button>
			</div>
		</form>
	</div>
{% endblock content %}
